body{

margin:0;
font-family:Arial;
background:#0f0f0f;
color:white;

}

.nav{

display:flex;
justify-content:space-between;
padding:20px;
background:black;

}

.nav a{

color:white;
text-decoration:none;
margin-left:20px;

}

.hero{

height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;

}

.btn{

background:#4a7cff;
padding:12px 20px;
color:white;
text-decoration:none;
border-radius:6px;

}